.books_table {
 width: 100%;
 text-align: left;
 border-collapse: collapse;
 border-spacing: 0;
 border-radius:10px;
}

.books_table th{
  padding: 10px;
  background: rgba(0,0,0,0.06);
  padding: 13px;
  border: solid 1px #B9B9B9;
  color: #545454;
  font-size: 18px;
}

.books_table td{
  text-align: left;
  vertical-align: top;
  background: #FFFFFF;
  border: solid 1px #B9B9B9;
  padding: 13px;
  font-size: 20px;
}

.books_table td:nth-child(1){
  width: 40%;
}

.books_table td:nth-child(1) .book_title_contents{
  display: flex;
  align-items: center;
}

.books_table td:nth-child(1) .book_title_contents span{
  display: inline-block;
  margin-left:10px;
}

.books_table td .stockcount{
  display: inline-block;
  width: 50px;
  text-align: center;
}

.books_table td img{
  margin: 8px 2px 0 2px;
  height: auto;
}
.books_table td img:hover{
  cursor: pointer;
  opacity: 0.6;
}
.books_table td .edit_icon{
  width:23px;
}
.books_table td .trash_icon{
  width:19px;
}

.books_table td a{
  color: #0000EE;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #87ed9e; /* 緑 */
  color: #000000;            /* 黒文字 */
  border: 2px solid #87ed9e; /* 緑枠 */
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #218838; 
}

table {
  width: 100%;
  border-collapse: collapse; 
}

th, td {
  border: 1px solid #333; 
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f0f0f0; 
}

.icon {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  margin-right: 4px;
}

.edit_btn{
  /* padding: 8px 12px;
  font-size: 16px;
  background: none;
  color: inherit;
  border: none;
  border-radius: 0;
  text-decoration: none;
  font: inherit;
  cursor: pointer; */
}

.edit_icon{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
}

.modal-content p {
  margin-bottom: 16px;
  font-weight: bold;
}

.modal-content button {
  margin: 0 10px;
  padding: 6px 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.modal-content button#yesBtn {
  background-color: #007BFF;
  color: white;
}

.modal-content button#noBtn {
  background-color: #ccc;
}